/* Use the following colors for your layout:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */


#site-header {
  background-color: #FFFFFF;
  display: flex;
  width: 100%;
  padding-bottom: 18px;
}

#site-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text: #2B2F26;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF
  position: relative;
}

#home, #about, #newsletter {
  text-decoration: none;
  color: #2B2F26;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  font-size: 18px;
  padding-top: 15px;
}


#home {
  padding-right: 20px;
  color: #968772;
}

#about {
  padding-left: 35px;
  padding-right: 35px;
}

#newsletter {
  padding-left: 20px;
}

#logo {
  width: 40px;
  height: auto;
  position: fixed;
  padding-left: 10px;
  padding-top: 5px;
}

#home:hover, #about:hover, #newsletter:hover {
  color: #CD5D67;
}

#home:active, #about:active, #newsletter:active {
  color: #968772;
}


h1, h3 {
  text-align: center;
  background-color: #F2F1E8;
  font-family: Merriweather, sans-serif;
  margin: auto;
}

#top-line {
  padding-top: 35px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  background-color: #F2F1E8;
  font-family: Merriweather, sans-serif;
}

#bottom-line {
  font-weight: lighter;
  text-align: center;
  background-color: #F2F1E8;
  font-family: Merriweather, sans-serif;
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 40px;
}

.page-contents {
  background-color: #F2F1E8;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.row-one, .row-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#home-one, #home-two, #home-three {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}

#home-four, #home-five, #home-six, #home-seven {
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 0;
  object-fit: cover;
}

footer {
  background-color: black;
  color: #F2F1E8;
}
