/* Use the following colors for your layout:
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */

html {
  max-height: 100vh;
}

body {
  background-color: #F2F1E8;
  margin: 0px;
}

#site-header {
  background-color: #FFFFFF;
  display: flex;
  padding-bottom: 10px;
  margin-top: -10px;
}

#site-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text: #2B2F26;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 25;
  padding-bottom: 20px;
  padding-top: 8.5px;
  box-shadow: 0px 0.25px 5px 0px rgba(0,0,0,0.75);
}

#home, #about, #newsletter {
  text-decoration: none;
  color: #2B2F26;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  font-size: 16px;
  padding-top: 18px;
}

#home {
  padding-right: 20px;
  color: #968772
}

#about {
  padding-left: 35px;
  padding-right: 35px;
}

#newsletter {
  padding-left: 20px;
}

#logo {
  width: 35px;
  height: auto;
  position: fixed;
  padding-left: 15px;
  padding-top: 10px;
  z-index: 50;
  margin-top: 8.5px;
}

#home:hover, #about:hover, #newsletter:hover {
  color: #CD5D67;
}

#home:active, #about:active, #newsletter:active {
  color: #968772;
}

.page-contents {
  padding-top: 20px;
}

#top-line {
  padding-top: 35px;
  padding-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  background-color: #F2F1E8;
  font-family: Merriweather, sans-serif;
}

#bottom-line {
  font-weight: lighter;
  text-align: center;
  background-color: #F2F1E8;
  font-family: Merriweather, sans-serif;
  font-size: 30px;
  margin-top: -25px;
  margin-bottom: 40px;
}

.row-one, .row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96vw;
  margin-left: 20px;
  margin-right: 20px;
}

.row-one {
  height: 36vh;
  margin-bottom: 15px;
}

.row-two {
  height: 23vh;
}

#picture-one {
  background-image: url(images/product-1.jpg);
  width: 56vw;
  background-size: 100% 140%;
}

#picture-two {
  background-image: url(images/product-2.jpg);
  width: 18.5vw;
  background-size: 100% 100%;
}

#picture-three {
  background-image: url(images/product-3.jpg);
  width: 18.5vw;
  background-size: 100% 100%;
}

#picture-four {
  background-image: url(images/product-4.jpg);
  width: 18.5vw;
  background-size: 133% 105%;
}

#picture-five {
  background-image: url(images/product-5.jpg);
  width: 18.5vw;
  background-size: 133% 105%;
}

#picture-six {
  background-image: url(images/product-6.jpg);
  width: 36vw;
  background-size: 100% 150%;
}

#picture-seven {
  background-image: url(images/product-7.jpg);
  width: 18.5vw;
  background-size: 130% 110%;
}

 .row-one h4 {
  background-color: #2C2F27;
  color: #F2F1E8;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-weight: lighter;
  margin-top: 27vh;
}

.row-two h4 {
 background-color: #2C2F27;
 color: #F2F1E8;
 font-size: 18px;
 padding-top: 8px;
 padding-bottom: 8px;
 text-align: center;
 font-weight: lighter;
 margin-top: 17vh;
}

#picture-one h4 {
  width: 17vw;
}

#picture-two h4 {
  width: 5vw;
}

#picture-three h4 {
  width: 9vw;
}

#picture-four h4 {
  width: 9vw;
}

#picture-five h4 {
  width: 16.5vw;
}

#picture-six h4 {
  width: 14vw;
}

#picture-seven h4 {
  width: 16vw;
}

footer {
  background-color: #2C2F27;
  color: #F2F1E8;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  width: 100vw;
  margin: 0;
  margin-top: 20px;
}
